
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background:linear-gradient( #27083D,#65189b);
    padding: 3px 0;
    width: 130%;
    display: inline-block;  
}

.gahub-icone {
    width: 10%;
    padding-left: 5%;

}

.icone-conta {
    width: 3%;
    padding-left: 1000px;
    padding-bottom: 60px;
}

.configuracao-icone {
    width: 3%;
    padding-left: 1500px;
    padding-bottom: 80px;
}